.nav {
    grid-area: n;
    background-color: #ecdee1;
    padding: 10px;
}
.nav ul {
    padding: 0;
}
.item {
    list-style-type: none;
}
.item a {
    color: black;
    text-decoration: none;
}
.item a:hover {
    text-decoration: underline;
}
.item a.active {
    color: mediumpurple;
}